@import "../../assets//theme/constants.scss";


.calstyle {
    padding-left: 0;
    background-color: #282828;
    color: #6b6b6b;
    width: 100%;
    outline: none;
    border: none;

    @media screen and (max-width: 100px) {
        width: 50%;
      }
  }
  
